body{
	margin:0;
	padding:0;
	text-align:center;
	font-family:Century Gothic;
	background: url(damn.jpg)no-repeat;
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
nav a{
	
	padding:20px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:10px;
	float:right;
	background-color:black;
	border-radius:50px;
	color:white;
	
}
nav a:hover{
	color:#ffc107;
}
ul{
	list-style-type:none;
}
.container{
	height:75vh;
	width:30%;
	background:rgba(0, 0, 0, 0.6);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:0 20px;
	
}
.img{
	height:70px;
	width:70px;
	background:black;
	border-radius:50px;
	background:url("dem.jpg")no-repeat;
	background-size:cover;
	background-position:centre;
	position:absolute;
	top:0%;
	left:40%;
	transform:translate(-50%-50%);
}
.container h1{
	color:white;
	margin-top:100px;
	
	
}
.container p{
	color:white;
	margin-top:60px;
	font-size:large;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:pre;
	
}
.container p:hover{
	overflow:visible;
}
.btn{
	background:no-repeat;
	outline:none;
	border:1px solid white;
	color:white;
	width:50%;
	padding:7px 15px;
	font-size:large;
	cursor:pointer;
	transition:0.4s ease;
	margin-top:-30px;
}
.btn:hover{
	background:white;
	color:black;
	
}










